<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApriNew"
        tools:targetApi="31">
        <activity
            android:name=".edit_minuman"
            android:exported="false" />
        <activity
            android:name=".minuman_hapus"
            android:exported="false" />
        <activity
            android:name=".minuman_item"
            android:exported="false" />
        <activity
            android:name=".minuman_tambah"
            android:exported="false" />
        <activity
            android:name=".makanan_item"
            android:exported="false" />
        <activity
            android:name=".makanan_hapus"
            android:exported="false" />
        <activity
            android:name=".edit_makanan"
            android:exported="false" />
        <activity
            android:name=".makanan_tambah"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".minuman"
            android:exported="false" />
        <activity
            android:name=".makanan"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="false" />
    </application>

</manifest>